<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="box" id ="heading">
        <h1> today is <%= kindofday %>!</h1>
    </div>
  
  <div class="box">
    <% for(var i=0; i<newsitem.length; i++){%>
        <div class="items">
             <input type="checkbox">

                <p><%= newsitem[i]%></p>
            </div>
            <% } %>
            <form class="items" action="/" method="post">
                <input type="text" name="n" placeholder="newsitem" autocomplete="off">
                 <button type="submit">+</button>    
            </form>
   </div>
        
</body>
</html>